@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 6%;
    --foreground: 60 5% 90%;
    --primary: 240 0% 90%;
    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 240 0% 13%;
    --accent-foreground: 60 0% 100%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 60 5% 85%;
    --card: 240 4% 10%;
    --card-foreground: 60 5% 90%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 5% 85%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}



.body-height{
  height: calc(100vh - 89px);
}

.scroll-height{
  height: calc(100vh - 154px);
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;  /* Dark background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #444;  /* Darker thumb for contrast */
  border-radius: 10px;
  border: 2px solid #1a1a1a;  /* Matches the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;  /* Lighter thumb on hover for better visibility */
}

.bg-background {
  background-color: #1e1e1e;
}